<div class="sign-up-container">
  <h2 style="text-align: center">{{ "signUp" | translate }}</h2>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-row">
      <div class="form-field">
        <label for="username" class="form-label">{{
          "username" | translate
        }}</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          class="form-control"
        />
        <div
          class="error-message"
          *ngIf="
            signupForm.get('username')?.invalid &&
            signupForm.get('username')?.touched
          "
        >
          <div *ngIf="signupForm.get('username')?.hasError('required')">
            {{ "validators.required" | translate }}
          </div>
          <div *ngIf="signupForm.get('username')?.hasError('minlength')">
            {{ "validators.username" | translate }}
          </div>
        </div>
      </div>

      <div class="form-field">
        <label for="email" class="form-label">{{ "email" | translate }}</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
        />
        <div
          class="error-message"
          *ngIf="
            signupForm.get('email')?.invalid && signupForm.get('email')?.touched
          "
        >
          <div *ngIf="signupForm.get('email')?.hasError('required')">
            {{ "validators.required" | translate }}
          </div>
          <div *ngIf="signupForm.get('email')?.hasError('email')">
            {{ "validators.email" | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-field">
        <label for="password" class="form-label">{{
          "password" | translate
        }}</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
        />
        <div
          class="error-message"
          *ngIf="
            signupForm.get('password')?.invalid &&
            signupForm.get('password')?.touched
          "
        >
          <div *ngIf="signupForm.get('password')?.hasError('required')">
            {{ "validators.required" | translate }}
          </div>
          <div *ngIf="signupForm.get('password')?.hasError('minlength')">
            {{ "validators.password" | translate }}
          </div>
        </div>
      </div>

      <div class="form-field">
        <label for="confirmPassword" class="form-label">{{
          "confirmPassword" | translate
        }}</label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          class="form-control"
        />

        <div
          *ngIf="
            signupForm.get('confirmPassword')?.hasError('required') &&
            signupForm.get('confirmPassword')?.touched
          "
        >
          {{ "validators.required" | translate }}
        </div>

        <div *ngIf="signupForm.hasError('passwordMismatch')">
          {{ "validators.confirmPassword" | translate }}
        </div>
      </div>
    </div>
    <div style="align-self: center">
      {{ "alreadyHaveAnAccount" | translate }}
      <a routerLink="/auth/login">{{ "login" | translate }}</a>
    </div>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="signupForm.invalid"
      style="max-width: 19rem; margin: auto"
    >
      {{ "signUp" | translate }}
    </button>
  </form>
</div>
