.card-body {
  max-height: 16rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.card {
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0px 4px 6px rgba(110, 110, 110, 0.5);
}

.container {
  padding-bottom: 3rem;
}

.title {
  color: #007bff;
  font-size: 31px;
}

.card-title {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-text {
  font-size: 13px;
}
