<nav
  class="navbar navbar-expand-sm navbar-light"
  style="background-color: #e3f2fd"
>
  <div class="container-fluid">
    <div class="navbar-brand" *ngIf="username != ''">Hello, {{ username }}</div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav" style="gap: 10px">
        <li class="nav-item">
          <button
            class="btn"
            type="button"
            (click)="navigateToHome()"
            *ngIf="isAuthenticated"
          >
            Home
          </button>
        </li>

        <li class="nav-item">
          <button
            class="btn btn-primary"
            type="button"
            (click)="handleSignUpClick()"
            *ngIf="!isAuthenticated"
          >
            Sign Up
          </button>
          <button
            class="btn btn-primary"
            type="button"
            (click)="handleLogoutClick()"
            *ngIf="isAuthenticated"
          >
            Logout
          </button>
        </li>
      </ul>
      <div *ngIf="isAuthenticated">
        <div class="input-group">
          <input
            class="form-control"
            type="search"
            placeholder="Search Movies"
            aria-label="Search"
            #searchInput
            (keyup.enter)="searchMovies(searchInput.value)"
          />
          <div class="input-group-append" style="margin-left: 1px">
            <button
              class="btn btn-outline-success"
              type="button"
              (click)="searchMovies(searchInput.value)"
            >
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
