<div class="container" *ngIf="!isLoading; else loadingTemplate">
  <div class="movie-title">{{ movieDetails.title }}</div>
  <div class="info-container">
    <div class="date">{{ movieDetails.release_date.split("-")[0] }}</div>
    <div *ngFor="let genre of movieDetails.genres" class="genre">
      {{ genre.name }}
    </div>

    <div
      class="rating"
      [ngStyle]="{ color: getColorForRating(movieDetails.vote_average) }"
    >
      {{ movieDetails.vote_average.toFixed(2) }}
      <div style="color: black">/10 ({{ movieDetails.vote_count }} votes)</div>
    </div>
  </div>

  <img
    [src]="'https://image.tmdb.org/t/p/w500/' + movieDetails.poster_path"
    alt="{{ movieDetails.title }}"
    class="movie-poster"
  />
  <div class="movie-overview">{{ movieDetails.overview }}</div>
</div>
<ng-template #loadingTemplate>
  <div class="loading-spinner-overlay">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
