<div class="container" *ngIf="movieDetails; else loadingTemplate">
  <div class="movie-title">{{ movieDetails.title }}</div>
  <div class="info-container">
    <span class="date">{{ movieDetails.release_date.split("-")[0] }}</span>
    <span *ngFor="let genre of movieDetails.genres" class="genre">
      {{ genre.name }}
    </span>
    <span
      class="rating"
      [ngStyle]="{ color: getColorForRating(movieDetails.vote_average) }"
    >
      {{ movieDetails.vote_average.toFixed(2)
      }}<span style="color: black">/10</span>
    </span>
    <span style="color: black">({{ movieDetails.vote_count }} votes)</span>
  </div>

  <img
    [src]="'https://image.tmdb.org/t/p/w500/' + movieDetails.poster_path"
    alt="{{ movieDetails.title }}"
    class="movie-poster"
  />
  <div class="movie-overview">{{ movieDetails.overview }}</div>
</div>
<ng-template #loadingTemplate>
  <div class="loading">
    <p>Loading movie details...</p>
  </div>
</ng-template>
