<div class="login-container">
  <h2>{{ "login" | translate }}</h2>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="form-container">
    <div>
      <label for="email" class="form-label">{{ "email" | translate }}</label>
      <input
        type="text"
        id="email"
        name="email"
        [(ngModel)]="email"
        class="form-control"
        required
        email
        [ngClass]="{
          error:
            loginForm.controls['email'] &&
            loginForm.controls['email'].invalid &&
            loginForm.controls['email'].touched
        }"
      />

      <div
        class="error-message"
        *ngIf="
          loginForm.controls['email']?.invalid &&
          loginForm.controls['email'].touched
        "
      >
        <div *ngIf="loginForm.controls['email'].hasError('required')">
          {{ "validators.required" | translate }}
        </div>
        <div *ngIf="loginForm.controls['email'].hasError('email')">
          {{ "validators.email" | translate }}
        </div>
      </div>
    </div>
    <div>
      <label for="password" class="form-label">{{
        "password" | translate
      }}</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        class="form-control"
        required
        minlength="6"
        [ngClass]="{
          error:
            loginForm.controls['password'] &&
            loginForm.controls['password'].invalid &&
            loginForm.controls['password'].touched
        }"
      />
      <div
        class="error-message"
        *ngIf="
          loginForm.controls['password']?.invalid &&
          loginForm.controls['password'].touched
        "
      >
        <div *ngIf="loginForm.controls['password'].hasError('required')">
          {{ "validators.required" | translate }}
        </div>
        <div *ngIf="loginForm.controls['password'].hasError('minlength')">
          {{ "validators.password" | translate }}
        </div>
      </div>
    </div>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid"
      style="max-width: fit-content; align-self: flex-end"
    >
      {{ "login" | translate }}
    </button>
  </form>
</div>
