<div class="login-container">
  <h2>{{ "login" | translate }}</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-container">
    <div>
      <label for="username" class="form-label">{{ "email" | translate }}</label>
      <input
        type="text"
        id="email"
        formControlName="email"
        class="form-control"
        [ngClass]="{
          error:
            loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        }"
      />
      <div
        class="error-message"
        *ngIf="
          loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        "
      >
        <div *ngIf="loginForm.get('email')?.hasError('required')">
          {{ "validators.required" | translate }}
        </div>
        <div *ngIf="loginForm.get('email')?.hasError('email')">
          {{ "validators.email" | translate }}
        </div>
      </div>
    </div>
    <div>
      <label for="password" class="form-label">{{
        "password" | translate
      }}</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
        [ngClass]="{
          error:
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
        }"
      />
      <div
        class="error-message"
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
      >
        <div *ngIf="loginForm.get('password')?.hasError('required')">
          {{ "validators.required" | translate }}
        </div>
        <div *ngIf="loginForm.get('password')?.hasError('minlength')">
          {{ "validators.password" | translate }}
        </div>
      </div>
    </div>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid"
      style="max-width: fit-content; align-self: flex-end"
    >
      {{ "login" | translate }}
    </button>
  </form>
</div>
