<div class="container">
  <div>
    <div class="title mb-4">Top Rated Movies</div>
  </div>
  <div class="row">
    <div *ngFor="let movie of topMovies" class="col-sm-6 col-md-4 col-lg-3">
      <div class="card mb-3" style="width: 100%">
        <img
          src="{{ 'https://image.tmdb.org/t/p/original' + movie.poster_path }}"
          class="card-img-top"
          alt="{{ movie.title }}"
        />
        <div class="card-body">
          <h3 class="card-title">{{ movie.title }}</h3>
          <p class="card-text">{{ movie.overview }}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
