.card-body {
  max-height: 16rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.card {
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0px 4px 6px rgba(110, 110, 110, 0.5); /* Add a subtle shadow on hover */
}

.container {
  padding-bottom: 3rem;
}

.card-body::-webkit-scrollbar {
  width: 6px;
}

.card-body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.card-body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.card-body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.card-body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.title {
  color: #007bff;
  font-size: 31px;
}

.card-title {
  color: #333;
  font-size: 20px;
  font-weight: bold;
}

.card-text {
  font-size: 13px;
}
